<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,maximun-scale=1, user-scalable=no">
    <!--上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title> 四川理德泰克科技有限公司</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 assselements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
	   <div class=“container”> 
			<div  class="navbar-herder">
				<a href="#" class="navbar-brand">LOGO</a>
			</div>
			<ul  class="nav navbar-nav navbar-right">
				<li><a class ="active" href="#"><span class="glyphicon  glyphicon-home"></span> 公司首页</a><li>
				<li><a class ="active" href="#"><span class="glyphicon  glyphicon-search"></span> 进度查询</a><li>
				<li><a class="active" href="#"><span class="glyphicon  glyphicon-user"></span> 公司文化</a><li>
				<li><a class="active" href="#"><span class="glyphicon  glyphicon-phone-alt"></span> 加入我们</a><li>
			</ul>
	   
	   
	   
	   </div>
	</nav>
	
	<h1>你好 世界 ！！！</h1>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script  src="jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>

  </body>
</html>