<!DOCTYPE html>

<html lang="zh-cn">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,maximun-scale=1, user-scalable=no">
    <!--上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title> 四川理德泰克科技有限公司</title>

    <!-- Bootstrap -->

		<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 assselements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


	
	<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="index.html" class="navbar-brand logo" style="padding:0">
			   <img src="img/logo.png" width="100%" height="100%"  alt="四川理德泰克科技有限公司"style="padding:0">
			</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul  class="nav navbar-nav navbar-right" >
				<li class ="active"><a  href="#"><span class="glyphicon  glyphicon-home"></span> 公司首页</a><li>
				<li><a   href="#"><span class="glyphicon  glyphicon-search"></span> 进度查询</a><li>
				<li><a   href="#"><span class="glyphicon  glyphicon-user"></span> 公司文化</a><li>
				<li><a   href="#"><span class="glyphicon  glyphicon-phone-alt"></span> 加入我们</a><li>
			</ul	
		</div>
	</div>
</nav>	
	
	
			<div class="tab1">
			<div class="container">
				
				<p class="tab-p">强大的师资力量，完美的实战型管理课程，让您的企业实现质的腾飞！</p>
				<div class="row">
					<div class="col-md-6 col">
						<div class="media">
							<div class="media-left">
								<a href="#"><img src="img/tab1-1.png" class="media-object" alt=""></a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">课程内容</h4>
								<p class="text-muted">其他：高校不知名的讲师编写，没有任何实战价值的教材！</p>
								<p>我们：知名企业家、管理学大师联合编写的具有实现性教材！</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col">
						<div class="media">
							<div class="media-left">
								<a href="#"><img src="img/tab1-2.png" class="media-object" alt=""></a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">师资力量</h4>
								<p class="text-muted">其他：非欧美正牌大学毕业的、业界没有知名度的讲师！</p>
								<p>我们：美国哈佛、耶鲁等世界一流高校、享有声誉的名牌专家！</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col">
						<div class="media">
							<div class="media-left">
								<a href="#"><img src="img/tab1-3.png" class="media-object" alt=""></a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">课时安排</h4>
								<p class="text-muted">其他：无法保证上课效率、没有时间表，任务无法完成！</p>
								<p>我们：保证按时间表的上课、效率高、当天的任务当天完成！</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col">
						<div class="media">
							<div class="media-left">
								<a href="#"><img src="img/tab1-4.png" class="media-object" alt=""></a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">服务团队</h4>
								<p class="text-muted">其他：社会招聘的、服务水平参差不齐的普通员工！</p>
								<p>我们：内部培养、经受过良好高端服务培训的高标准员工！</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="tab2">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 tab2-img">
						<img src="img/tab2.png" class="auto img-responsive center-block" alt="">
					</div>
					<div class="text col-md-6 col-sm-6 tab2-text">
						<h3>强大的学习体系</h3>
						<p>经过管理学大师层层把关、让您的企业突飞猛进。</p>
					</div>
				</div>
			</div>
		</div>


		<div class="tab3">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<img src="img/tab3.png" class="auto img-responsive center-block" alt="">
					</div>
					<div class="text col-md-6 col-sm-6">
						<h3>完美的管理方式</h3>
						<p>最新的管理培训方案，让您的企业赶超同行。</p>
					</div>
				</div>
			</div>
		</div>

		<footer id="footer">
			<div class="container">
				<p>企业培训 | 合作事宜 | 版权投诉</p>
				<p>苏ICP 备12345678. © 2009-2016 瓢城企训网. Powered by Bootstrap.</p>
			</div>
		</footer>
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
	</form>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script  src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

  </body>
</html>