<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widtr=device-widtr, initial-scale=1">


    <title>用户注册</title>

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	 <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-treme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  
{% include "ldtk/top.html" %}

<br></br>
<br></br>
<br></br>
<div class="container"  >
	
	<div  class="col-lg-6 col-md-6 col-sm-12 col-xs-12  col-lg-push-3 col-md-push-3" >
	<h1 class="form-register-heading ">欢迎注册</h1>
	
	<script>
		 var chn=false;
		 var cpw1=false;
		 var cpw2=false;
		 document.getElementById("bt01").disabled=true;
		 
		function checkusername()
			{var s=document.getElementById("un1").value;
			 var	reg=/^(\w){8,20}$/;
			   if (reg.test(s) != false) 
				document.getElementById("un1").class="bg-success";
				else	
				document.getElementById("un1").class="bg-danger";
			
			}
		

		function checkpwd1()
			{var s1=document.getElementById("pwd1").value;
			 var	reg=/^(\w){8,20}$/;
			   if (reg.test(s1) != false) 
				document.getElementById("pwd1").class="bg-success";
				else	
				document.getElementById("pwd1").class="bg-danger";
			
			
			}
		function checkpwd2()
			{	

			var s1=document.getElementById("pwd1").value;
			var  s2=document.getElementById("pwd2").value;
				if (s1==s2)
					document.getElementById("bt01").disabled=false;
			
			}
		
	
	
	</script>
      <form class="form-register" metrod="post">
	  {% csrf_token %}
	        <div class="row">
        <div class="col-md-12">
          <table class="table  table-hover table-responsive">
            <tbody>
			<tr>
			
                <tr > <h4  >请输入用户名 </h4></tr>
                <tr >
				<div id="und1" class="form-group has-success has-feedback" >
					<input type="text" id="un1" name="username" class="form-control" onblur="checkusername()" placeholder="账号" required>
						<span id="uns1"	class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="false" ></span>
					</div>
				</tr>
				
			
			</tr>
			<tr>
                <h4>请输入你的密码</h4>
                <tr>
					<input type="password" id="pwd1" name="userpwd1" class="form-control" onblur="checkpwd1()" placeholder="密码" required>
				</tr>
			</tr>
			<tr>
                <h4>请再次输入你的密码</h4>
                <tr>
					<input type="password" id="pwd2" name="userpwd2" class="form-control" onblur="checkpwd2()" placeholder="密码" required>
				</tr>
			</tr>
			<tr>
                <th >姓</th>
                <th>
					<input type="text"  name="firstname" class="form-control" placeholder="Firstname" required>
				</th>
			</tr>
			<tr>
				<th>名</th>
                <th>
					<input type="text"  name="lastname" class="form-control" placeholder="Lastname" required>
				</th>
			</tr>
			<tr>
				<th>性别</th>
                <th>
						  <span class="input-group-addon" required>男士
							<input type="radio" name="radio" value="1">
						  </span>
						  <span class="input-group-addon">女士
							<input type="radio" name="radio" value="2">
						  </span>
				</th>
			</tr>
			<tr>
				
			</tr>
			

            </tbody>
          </table>
        </div>
      </div>
 
		<button id="bt01" class=" btn btn-info btn-lg" type="submit" disabled=true >注  册</button>
	  </form>
	</div>
</div>

    <!-- /container -->



<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
