    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >四川理德泰克科技有限公司</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
		{%if user.is_authenticated %}
		   <div class="navbar-form navbar-right" >
            {% csrf_token %}
            <div class="form-group">
            <p class="btn btn-info"> 欢迎 {%firstof user.get_short_name user.get_username%}</p>
            </div>			
			
			<a  type="button" class="btn btn-danger" href="/logout" > 注销</a>
			
		  </div>
		{% else %}
          <form class="navbar-form navbar-right" method="POST">
            {% csrf_token %}
			<div class="form-group">
              <input type="text" name ="username" class="form-control" required>
            </div>
            <div class="form-group">
              <input type="password" name="userpwd"  class="form-control" required>
            </div>
            <button  type="submit" class="btn btn-success">登陆</button>
			<a  type="button" class="btn btn-info" href="/register" > 注册</a>
			
		  </form>
		{%endif%}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>